.heading {
  background-color: #6759c1;
  color: #fff;
  margin-bottom: 1em;
  text-align: center;
  line-height: 2.5em;
  font-size: 0.875rem;
}

.invoice-number-container * {
  font-weight: bold;
}

.branding {
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ddd;
}
.logo-container {
  text-align: right;
}

#imgInp {
  display: none;
}

@media print {
  .heading {
    color: #000;
  }
}
