body {
  font-size: 0.875rem;
  padding: 20px;
}

a {
  text-decoration: none;
  margin-left: 0.25rem;
}

a:hover {
  text-decoration: underline;
}

input:focus {
  outline: 0;
}

input,
textarea {
  border: 1px solid #fff;
}

.container input:hover,
.container textarea:hover,
.table-striped > tbody > tr:nth-child(2n + 1) > td input:hover,
.container input:focus,
.container textarea:focus,
.table-striped > tbody > tr:nth-child(2n + 1) > td input:focus {
  border: 1px solid #ccc;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td input {
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
}

@media print {
  .noPrint {
    display: none;
  }

  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
  }
}

div.container {
  width: 800px;
}
